/* Remove unwanted margins */


body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    font-family: Arial, sans-serif;
    /* background: url('../img/bg.jpg') no-repeat center center fixed;   */
    /* background-size: cover; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.85); /* optional translucent white overlay */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}


.auth-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f7fa;
    padding: 20px;
}

.auth-left img {
    max-width: 80%;
    height: auto;
}

/* Right side */
.auth-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f7fa;
    padding: 20px;
}

/* Form container */
.form-container {
    width: 100%;
    max-width: 500px;
     padding: 10px 12px;
    border-radius: 12px;
    margin-bottom: 12px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* Form styles */
form {
    width: 100%;
    margin: 0;
}

form p {
    margin-bottom: 6px;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 2px;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="password"] {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #eef4ff;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #004b66;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}

form a {
    color: #6a1b9a;
    text-decoration: underline;
}

/* Form row (for register) */
.form-row {
    display: flex;
    gap: 20px;
}

.form-row .form-group {
    flex: 1;
}

/* Toast position */
.message-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    width: 300px;
}
.toast-progress {
    height: 4px;
    animation: progressAnim 5s linear forwards;
    border-radius: 0 0 5px 5px;
}

/* Colored progress bars */
.progress-success {
    background-color: green;
}
